<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sweet.home.pinerria1">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Utils.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.SplashAct"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.MainActivitie"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Login"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".Activity.WellcomeScr"
            android:label="@string/title_activity_wellcome_scr"
            android:theme="@style/AppTheme" />
        <activity android:name=".Activity.ChildScr" />
        <activity android:name=".Activity.SeelctKids" />
        <activity android:name=".Activity.SibliingInfo" />
        <activity android:name=".Activity.ParentFirstScr" />
        <activity android:name=".Activity.FatherInfo" />
        <activity android:name=".Activity.MotherInfo" />
        <activity android:name=".Activity.OtherInfo" />
        <activity android:name=".Activity.OtherPermited" />
        <activity android:name=".Activity.Emergency" />
        <activity android:name=".Activity.Emergency1" />
        <activity android:name=".Activity.Emergency2" />
        <activity android:name=".Activity.Successfully" />
        <activity android:name=".Activity.HealthInfo" />
        <activity android:name=".Activity.ChildInfo" />
        <activity android:name=".Activity.PreviousSchool" />
        <activity android:name=".Activity.ChildList"></activity>
    </application>

</manifest>